html, body
{
	max-width: 100%;
	overflow-x: hidden;
	margin: 0px 0px 0px 0px;
}



body
{
	
}

.nothing
{
	background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 75%), url('background.jpeg');
}

.topthing
{
	width: 100%;
	height: 80px;
}

nav
{
	background-color: lightgrey;
	height: 10%;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	background: #FFFFFF;
}

.divider
{
	background: #AAAACC;
	width: 100%;
	height: 25px;
	margin: 0px 0px 0px 0px;
}

.navlink
{
	color: black;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.navlink-container
{
	background: white;
	height: 28px;
	width: 120px;
	display: inline-block;
	margin: 0px -4px 0px 0px;
}
.navlink-container:hover
{
	background: lightgrey;
}

.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}

.navtitle
{
	display: inline-block;
	margin: 0px 30% 0px 0px;
	text-decoration: none;
	color: black;
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	letter-spacing: 7px;
}

a
{
	text-decoration: none;
	color: black;

}

.button-remove
{
	border: 0px;
	background: rgba(255,255,255,0);
	font-family: 'Libre Baskerville', serif;

	width: 60%;
	font-size: 30px;
	border-radius: 10px;
	padding: 10px;

}

.button-remove:hover
{
	background: rgba(255,255,255,0.5);

	cursor: pointer;
}

.header-main
{
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	margin: 50px 0px 100px 0px;
	text-align: center;
}

.about-div
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 5% 25% 5% 25%;
}

h2
{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;

}

h3
{
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

p
{
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 14px;
}

.highlighted-header-1
{
	background: linear-gradient(#FFFFFF, #CCCCFF);
	width: 60%;
	font-size: 30px;
	border-radius: 10px;
	padding: 10px;
}

.highlighted-header-2
{
	background: #CCCCFF;

	width: 25%;

	border-radius: 10px;
	padding: 10px;


}


.mainbody
{
	width: 75%;
	margin: 0px 0px 0px 0px;
	padding: 25px;
	text-align: left;
}

.mainbody-container-1
{
	background: linear-gradient(#FFFFFF, #CCCCFF);
	background: url('background.jpeg');
	height: 600px;
}


.mainbody-container-2
{
	background: linear-gradient(#EEEEEE, #AAAAFF);
	padding-top: 10px;

}

.centered-text
{
	text-align: center;
}



.footer
{
	height: 75px;
	width: 100%;
	background: #DDDDDD;
	font-family: 'Montserrat', sans-serif;
	padding: 25px;
}



@media only screen and (max-width: 635px)
{
	.navtitle
	{
		margin: 0px 0px 0px 0px;
	}
	.highlighted-header
	{
		width: 300px;
	}
	nav
	{
		height: 25%;
	}
	.header-main
	{
		margin: 100px 0px 50px 0px;
	}
	.button-remove
	{
		width: 100%;
	}
	.about-div
	{
		padding: 10px;
	}
}

@media only screen and (max-width: 466px)
{
	.navtitle
	{
		font-size: 18px;
	}
}
