html, body
{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
    font-family: 'Libre Baskerville', serif;
}

body
{
    background-color: 
}

.topthing
{
    width: 100%;
    height: 80px;
}

nav
{
    background-color: lightgrey;
    height: 10%;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background: #FFFFFF;
}

.divider
{
    background: grey; 
    width: 100%;
    height: 20px;
    margin: 0px 0px 0px 0px;
}

.navlink
{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.navlink-container
{
    background: white;
    height: 28px;
    width: 120px;
    display: inline-block;
    margin: 0px -4px 0px 0px;
}
.navlink-container:hover
{
    background: lightgrey;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

.navtitle
{
    display: inline-block;
    margin: 0px 30% 0px 0px;
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    letter-spacing: 7px;
}

a
{
    text-decoration: none;
    color: black;

}
a:hover {
    color:;
}

.button-remove
{
    border: 0px;
    background: rgba(255,255,255,0);
    font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Baskerville', serif;
    width: 60%;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;

}

.button-remove:hover
{
    background: rgba(0,100,0,0.5);
    cursor: pointer;
}

.header-main
{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    margin: 50px 0px 100px 0px;
    text-align: center;
}

.about-div
{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding: 5% 25% 5% 25%;
}

h2
{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;

}

h3
{
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}

p
{
    font-family: 'Libre Baskerville', serif;
    text-align: left;
    font-size: 14px;
}

.highlighted-header-1
{
    background: linear-gradient(#FFFFFF, #CCCCFF);
    width: 60%;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
}
#button:hover {
    background-color: #475259;
    color: white;
}
#button{
    background-color: rgba(95, 110, 120, .4);
    font-size: 15px;

}

.highlighted-header-2
{
    color: black;
    font-weight: bold;
    font-size: 30px;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
}


.wrapper {
    height: 260vh;
    margin: 20px;
    margin-top: 5%;
    border-radius: 10px;
    background-size: cover; 
    box-shadow: 1px 7px 10px -2px rgba(0,0,0,0.71);
    -webkit-box-shadow: 1px 7px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 1px 7px 10px -3px rgba(0,0,0,0.71);
}


.mainbody
{
    width: 75%;
    margin: 0px 0px 0px 0px;
    padding: 25px;
    text-align: left;
}

.mainbody-container-1
{
    height: 100vh;
    background: linear-gradient(180deg, rgba(243,243,245,1) 0%, rgba(172,189,201,0.6713060224089635) 50%), url('background.jpeg');

}


.mainbody-container-2
{
    background: linear-gradient(180deg, rgba(243,243,245,.9) 10%, rgba(106,104,110,.4) 93%);;
    padding-top: 10px;

}

.centered-text
{
    text-align: center;
}



.footer
{
    height: 40px;
    width: 100%;
    background: #DDDDDD;
    font-family: 'Libre Baskerville', serif;
    padding: 25px;
    text-align: center;
}



@media only screen and (max-width: 641px)
{
    .navtitle
    {
        margin: 0px 0px 0px 0px;
    }
    .highlighted-header
    {
        width: 300px;
    }
    nav
    {
        height: 25%;
    }
    .header-main
    {
        margin: 100px 0px 50px 0px;
    }
    .button-remove
    {
        width: 100%;
    }
    .about-div
    {
        padding: 10px;
    }
}

@media only screen and (max-width: 466px)
{
    .navtitle
    {
        font-size: 18px;
    }
}